In [35]:
import numpy as np
import pandas as pd

In [36]:
import pyodbc
cnxn = pyodbc.connect(r'Driver={SQL Server};Server=NADC2PSQL96\VitaCanada;Database=VitaPDLCAN;Trusted_Connection=yes;')
cursor = cnxn.cursor()

In [37]:
cursor.execute(""" SELECT [LoanId]
      ,[LoanContractNumber]
      ,[LoanStatusId]
      ,[LoanTypeId]
      ,[AgreementDate]
      ,[DueDate]
      ,[CustomerId]
      ,[TotalAmount]
      ,[Principal]
      ,[Fees]
      ,[Interest]
      ,[Discount]
      ,[APR]
      ,[TransactionId]
      ,[LocationId]
      ,[LocationNumber]
      ,[PaymentTypeId]
      ,[RepaymentTypeId]
      ,[SecuringTypeId]
      ,[LoanPurposeId]
      ,[ChannelTypeId]
      ,[ParentLoanId]
      ,[LoanSequence]
      ,[ChannelRefNumber]
      ,[ExternalRefNumber]
      ,[CreatedByUserId]
      ,[CreatedByUserName]
      ,[CreatedDate]
      ,[ModifiedDate]
      ,[EffectiveDate]
      ,[StateCode] INTO #3
  FROM [VitaPDLCAN].[dbo].[Loan]
""")
               
#while 1:
#    row = cursor.fetchone()
#    if not row:
#        break
#   print(row.LoanId, row.CustomerId )

In [38]:
sql = """ select * from #3 """
data = pd.read_sql(sql,cnxn)

MemoryError: Unable to allocate array with shape (11688101, 31) and data type object

In [ ]:
data.head(20)

In [ ]:
data.to_csv('Recommend/Loan_Ca.csv')

In [ ]:
datadf = pd.read_csv('Recommend/Loan_Ca.csv', index_col = 0)

In [ ]:
datadf.head(20)